.items{
    color: black;
    margin: 20px auto;
    height: 45px;
    border-radius: 4px;
    width: 350px;
}

.items p{
    padding: 10px;
    position: relative;
}

.items p span{
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.items p input{
    background-color: transparent;
    border: 0;
    color: black;
    font-size: 18px;
}

.items p input:focus{
    outline: none;
}

.trashIcon{
    font-size: 20px;
    margin: 0 5px;
}

